html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #101510;
}

#app {
  display: grid;
  place-items: center;
}

canvas {
  display: block;
  image-rendering: pixelated;
  box-shadow: 0 0 0 1px #263126;
}
